<div class="bg-total">
  <svg preserveAspectRatio="none" viewBox="0 0 00 120" xmlns="http://www.w3.org/2000/svg"
    style="fill:#957541; width: 100%; height: 100px; transform: rotate(0deg);" class="_web-inspector-hide-shortcut_">
    <path
      d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z">
    </path>
  </svg>
</div>
<footer class="footer-top-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-widget">
          <a href="index.html">
            <img
              src="assets/images/log-gc.png"
              alt="Image">
          </a>

          <p>We focus on on-shore and off-shore <br> support services to the Oil and Gas <br> Industry and the Merchant
            Marine Fleet.</p>
        </div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="single-widget">
          <h3> Our Service</h3>

          <ul>
            <li>
              <a routerLink="/offshore" class="">Buy</a>
            </li>
            <li>
              <a routerLink="/seismic" class="">Sell</a>
            </li>
            <li>
              <a routerLink="/naval" class="">Refer and earn</a>
            </li>
            <li>
              <a routerLink="/shipbuild" class="">More..</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-widget contact">
          <h3>Contact Us</h3>

          <ul>
            <li class="pl-0">
              <a href="tel:Phone:+91-884-2360206">
                <i class="fa-solid fa-phone-volume"></i>
                <span>Hotline:</span>
                Phone: +91-884-2360206
              </a>
            </li>

            <li class="pl-0">
              <a href="">
                <i class="fa-regular fa-envelope"></i>
                <span>Email:</span>
                <span class="__cf_email__"><a href="mailto:projects@sanmarine.in">projects@x-yug.in</a> </span>
              </a>
            </li>

            <li>
              <i class="fa-solid fa-location-dot"></i>
              <span>Address:</span>
              2nd Floor, Ashoka Raghupathi Chambers , H.No. 1-10-60, adj. to Prakash Nagar Metro Station, Begumpet,
              Hyderabad, Telangana 500016
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Top Area -->

<!-- Start Footer Bottom Area -->
<footer class="footer-bottom-area footer-bottom-electronics-area">
  <div class="container">
    <div class="copy-right">
      <p>Copyright @2024 gold central designed By <a href="https://makersmind.in/" target="blank">X-YUG</a></p>
    </div>
  </div>
</footer>
