<section class="tikme">
  <div class="textt">
    <a href="#" class="merge d-flex" routerLinkActive="home">
      <div class="">
        <img src=".//src/assets/images/tiktik.png" alt="" width="80px" height="" />
      </div>
      <div class="htg">
        <p> <strong>TikMe</strong>
          <br><span>Hyperlocal</span>
        </p>
      </div>
    </a>
    <div class="addres">
      <p>Merchant address will come here.</p>
    </div>
    <h2>LOGIN!</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- <div class="hhuhh">
        <div class="FullName">
          <input type="text" id="validationTooltip" aria-describedby="name" formControlName="FullName"
            placeholder="Enter you fullname" class="form-control" [ngClass]="{'is-invalid': loginForm.get('FullName')?.invalid && loginForm.get('FullName')?.touched}">
        </div>
        <div *ngIf="loginForm.get('FullName')?.invalid && loginForm.get('FullName')?.touched" class="error px-5 text-lg-start">
          <div *ngIf="loginForm.get('FullName')?.errors?.['required']" class="text-danger">FullName is required.
          </div>
        </div>
      </div> -->


      <div class="cljjj">
        <div class="input-group">
          <select class="form-select">
            <option selected>+91</option>
            <option value="1">+2</option>
            <option value="2">+65</option>
            <option value="3">+25</option>
          </select>
          <input type="text" class="form-control" placeholder="Number" id="number" formControlName="number" [ngClass]="{'is-invalid': loginForm.get('number')?.invalid && loginForm.get('number')?.touched}" [disabled]="loginForm.get('number').value.length > 10">
          <div *ngIf="loginForm.get('number')?.invalid && loginForm.get('number')?.touched" class="error px-0 text-lg-start">
            <div *ngIf="loginForm.get('number')?.errors?.['required']" class="text-danger">Phonenumber requried.</div>
            <div *ngIf="loginForm.get('number')?.errors?.['number']" class="text-danger">Phone number must be 10 characters or less.</div>
          </div>
        </div>
      </div>
      <div class="pswdad">
        <div class="paswd">
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error px-1 text-lg-start">
            <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required.</div>
          </div>
        </div>
      </div>
      <div class="bttt">
        <button type="submit" class="btn" [disabled]="loginForm.invalid" routerLink="/opt">Login</button>
      </div>
    </form>

    <div class="imggg">
      <p>Powered by</p>
      <a href="#" class="merge d-flex" routerLinkActive="home">
        <div class="">
          <img src=".//src/assets/images/tiktik.png" alt="" width="80px" height="" />
        </div>
        <div class="htg">
          <p> <strong>TikMe</strong>
            <br><span>Hyperlocal</span>
          </p>
        </div>
      </a>
    </div>
    <div class="imgsss">
      <div class="android">
        <i class="fa-brands fa-android and"></i>
        <p>Playstore</p>
      </div>
      <div class="apple">
        <i class="fa-brands fa-apple and"></i>
        <p>Appstore</p>
      </div>
    </div>
    <div class="mb-3">
      Available on
    </div>
  </div>
</section>
